.logo_menu img{
  height: 80px;
}


p{
	font-size: 1.6rem;
	color: #4F4F4F;
	line-height: 2rem;
	text-align: left;
	font-weight: 500;
}

a {
 color: #4F4F4F;
 text-decoration: none;
 transition: 0.3s;
}

a:hover {
	transition: 0.3s;
	color: #53ACB8;
}