@import 'library/responsive/media-queries';
@import 'animations';

/*__________________________________________________________*/
/* generic */



button{
	background-color:transparent;
	border:0;
	cursor:pointer;
	
	&:active{
		transform: translateY(4px);
	}
}

.btn{
	cursor:pointer;
	user-select: none;
}

textarea:focus, input:focus, button:focus{
	outline: none;
}

.clickable{
	cursor:pointer;
}


/*__________________________________________________________*/

a.btn_main{
	@extend .btn;
	@extend .glow;
	@extend .col_light;
	@extend .text_center;
	@extend .btn_anim;
	
	background-image:none;
	width:278px; height:55px;
	
	line-height: 46px;
	display:block;
	text-align:center;
	
	font-size:19px;
	letter-spacing:0px;
	font-family:'NexaLight';
	
	&:hover{
		font-family:'NexaBold';
		background-image:url('/assets/images/ui/btns/btn_bg.png');
		//@include retinaBg('/assets/images/ui/btns/btn_bg', 278px, 55px);
	}
	
}

a.btn_iconright{
	@extend .btn;
	@extend .col_light;
	@extend .btn_anim_small;
	// @extend .gothamrounded_bold_21;
	
	display:flex;
	align-items:center;
	& > img{
		margin-left:10px;
	}
}

a.btn_iconleft{
	@extend .btn;
	@extend .col_light;
	@extend .btn_anim_small;
	// @extend .gothamrounded_bold_21;
	
	display:flex;
	align-items:center;
	& > img{
		margin-right:10px;
	}
}


a.btn_link{
	@extend .btn;
	@extend .col_grey;
	@extend .text_left;
	// @extend .nexalight_13;
	
	display:inline-block;
	&:active{
		@extend .col_light;
	}
}




/*__________________________________________________________*/
/* inputs */



input.regular{
	
	width:350px - 2 * 10px; height:28px;
	border:0;
	background-color: transparent;
	background-image:url('/assets/images/ui/btns/bg_input.png');
	@include retinaBg('/assets/images/ui/btns/bg_input', 351px, 30px);
	
	padding:0px 10px;
	
	@extend .col_dark;
	@extend .nexalight_16;
	@extend .text-left;
	
	&::placeholder{
		@extend .col_dark;
		@extend .nexalight_16;
		@extend .text-left;
	}
	&:not(:first-child) {
		margin-top:13px;
	}
}






input[type=checkbox]{
	display:none;
}
input[type=checkbox] + label{
	
} 
input[type=checkbox]:checked + label{
	background-image:url('/assets/images/ui/inputs/checkbox_valid.png');
	background-repeat: no-repeat;
} 
input[type=checkbox] + label{
	background-image:url('/assets/images/ui/inputs/checkbox_bg.png');
	background-repeat: no-repeat;
	padding-left:38px;
	padding-top:5px;
	padding-bottom:7px;
	cursor:pointer;
}


