nav{
    background-color:white;
    font-size:24px;
    font-family:Arial;
    color:black;
    padding:20px;
    z-index:9;
    position:fixed;
    left:0px;
    top:0px;
      
    /* display:none; */
  
}